<ul>
    {{#each workouts}}
        <li>
            {{> workout}}
        </li>
    {{/each}}
    <form action='/saveWeekWorkout' method="POST">
          <input type="submit" value="Save week workout">
    </form>
</ul>